
:root {
  --purple:#3e0249;
}

body{
  margin:100px;
  padding: 0;
  color: var(--purple);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box; 
}


header {
 text-align: center;
}

header h1 {
  font-size: 60px;
}

#games-box {
  display: flex;
  justify-content: center;
}

#games{
  display: flex;
  justify-content: space-around;
  background-color: red;
  width: 70vw;
  max-width: 700px;
}

#games a{
  padding: 20px;
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #F8F8FF;
}

#games a:hover{
  background-color: green;
  color: white;
}


a{
  color: blue;
}

footer {
 text-align: center;
}

/* Responsive screen */
@media screen and (max-width: 700px) {
  #games {flex-direction: column;}


}

